USE [master]
GO
/****** Object:  Database [bookBeans]    Script Date: 17/06/2018 23:09:44 ******/
CREATE DATABASE [bookBeans]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bookBeans', FILENAME = N'F:\sql server\MSSQL12.SQLEXPRESS\MSSQL\DATA\bookBeans.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bookBeans_log', FILENAME = N'F:\sql server\MSSQL12.SQLEXPRESS\MSSQL\DATA\bookBeans_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bookBeans].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bookBeans]
GO
/****** Object:  Table [dbo].[fornecedores]    Script Date: 17/06/2018 23:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[fornecedores](
	[id_Fornecedor] [int] IDENTITY(1,1) NOT NULL,
	[nome_Fornecedor] [varchar](50) NOT NULL,
	[email_Fornecedor] [varchar](50) NULL,
	[telefone_Fornecedor] [varchar](50) NULL,
	[cnpj_Fornecedor] [varchar](50) NULL,
	[cpf_Fornecedor] [varchar](50) NULL,
	[tipo_Fornecedor] [varchar](10) NOT NULL,
 CONSTRAINT [PK__forneced__6C477092C9B90E0E] PRIMARY KEY CLUSTERED 
(
	[id_Fornecedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[itemVenda]    Script Date: 17/06/2018 23:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itemVenda](
	[id_itemVenda] [int] IDENTITY(1,1) NOT NULL,
	[quant_itemVenda] [int] NOT NULL,
	[id_Produto] [decimal](18, 0) NOT NULL,
	[id_Venda] [int] NOT NULL,
	[valor_Venda] [money] NOT NULL,
 CONSTRAINT [PK__item_ven__5992872B44785738] PRIMARY KEY CLUSTERED 
(
	[id_itemVenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[produtos]    Script Date: 17/06/2018 23:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[produtos](
	[id_Produto] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[categoria_Produto] [varchar](10) NOT NULL,
	[conservacao_Produto] [varchar](10) NOT NULL,
	[titulo_Produto] [varchar](50) NOT NULL,
	[editora_Produto] [varchar](50) NULL,
	[ano_Produto] [varchar](50) NULL,
	[preco_Produto] [money] NOT NULL,
	[quantidade_Produto] [varchar](50) NOT NULL,
	[descricao_Produto] [varchar](100) NULL,
 CONSTRAINT [PK__produto__A827CD6ACE9CD66C] PRIMARY KEY CLUSTERED 
(
	[id_Produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vendas]    Script Date: 17/06/2018 23:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendas](
	[id_Venda] [int] IDENTITY(1,1) NOT NULL,
	[dataVenda] [date] NOT NULL,
 CONSTRAINT [PK__venda__4595B5AB29492BB2] PRIMARY KEY CLUSTERED 
(
	[id_Venda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[itemVenda]  WITH CHECK ADD  CONSTRAINT [FK__item_vend__id_Pr__25869641] FOREIGN KEY([id_Produto])
REFERENCES [dbo].[produtos] ([id_Produto])
GO
ALTER TABLE [dbo].[itemVenda] CHECK CONSTRAINT [FK__item_vend__id_Pr__25869641]
GO
ALTER TABLE [dbo].[itemVenda]  WITH CHECK ADD  CONSTRAINT [FK__item_vend__id_Ve__267ABA7A] FOREIGN KEY([id_Venda])
REFERENCES [dbo].[vendas] ([id_Venda])
GO
ALTER TABLE [dbo].[itemVenda] CHECK CONSTRAINT [FK__item_vend__id_Ve__267ABA7A]
GO
USE [master]
GO
